<h1><%= @outing.name %></h1>

<p>Location: <%= @outing.location %></p>
<p>Date: <%= @outing.date %></p>
<p>Count of Contestants: <%= @outing.count_of_contestants %></p>
<p>Contestant Names: <% @outing.contestant_names.each do |contestant| %></p>
  <p><%= contestant %>
  <%= button_to "Remove", outing_path(@outing, remove_contestant_name: contestant), method: :patch  %></p>
<% end %>
